/*Card table style */
#card_table {
	border-spacing: 20px 10px;
	width: 100%;
}

/*Card body style (user list) */
.card_body {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-width: thin;
	border-style: solid;
	border-color: #c7c7c7;
	padding: 5px 5px 5px 5px;
	width: 200px;
	background-color: #FAFAFA;
	vertical-align: bottom;
	font-size: 10px;
	font-family: arial, sans-serif;
	color: #333;
	text-shadow: #aaa 0.1em 0.1em 0.2em;
	line-height:180%;
}

/*Card table style (toplist) */
.card_body_top {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-width: thin;
	border-style: solid;
	border-color: #c7c7c7;
	padding: 10px 5px 5px 5px;
	width: 200px;
	height: 150px;
	background-color: #fefefe;
	vertical-align: bottom;
	font-size: 9px;
	font-family: arial, sans-serif;
	color: #333;
	text-shadow: #aaa 0.1em 0.1em 0.2em;
}

/*Avatar style */
#card_picture {
	float:right;
	vertical-align: top;
	width: 64px;
	line-height:120%;
}

/*User name style */
#card_name {
	font-size: 18px;
	font-family: arial, sans-serif;
	color: #0a59a2;
	text-decoration: none;
	padding-bottom: 8px;
}

#card_name a {
	color: #0a59a2;
	text-decoration: none;
}

#card_name a:hover {
	color: #1077d7;
	text-decoration: none;
}

/*User online style */
#card_online {
	float:right;
	padding-right: 5px;
}

/*User level style */
#card_level {
	font-size: 12px;
	font-family: arial, sans-serif;
	color: #333;
	height: 20px;
}

/*User id style */
#card_id {

}

/*User real name style */
#card_real_name {

}

/*User login name style */
#card_login_name {

}

/*User email style */
#card_email {
	padding-top: 20px;
}

/*User small pics (forum, comments, etch.) style */
#card_pics {
	background-color:  #549dd7;
	padding: 3px 2px 0px 2px;
	height: 20px;
}

/*User visits, lastvisit, join, etch. style */
#card_visits {

}

/*User toplist bar style */
#card_toplists {
	padding-top: 55px;
	vertical-align: bottom;
}
