a.rs {
	color: #00006e; 
	font-family: verdana, arial, sans-serif; 
	text-decoration: none;
}
a.rs:hover {
	color: #ec5800;
	font-family: verdana, arial, sans-serif; 
	text-decoration: underline;
}

.rsbutton {	
	border: #b7b5b5 1px solid;
	color: #000;
	font: 9px verdana, tahoma, arial, helvetica, sans-serif;
	text-align:center;
	background-image : url(images/button.png);
}

.rsbox{
	background-color: #fff;
	border: #b7b5b5 1px solid;
	color: #000000;
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
}

.rsheader, .rsheader1 {
	background: transparent;
	font: 11px verdana, tahoma, arial, helvetica, sans-serif;
	color:#000;
	padding: 4px;
	background-image: url(images/nforumcaption2.png);
}

.rsheader2{
	background: transparent;
	font: 12px verdana, tahoma, arial, helvetica, sans-serif;
	color:#000;
	padding: 4px;
}

.rsheader3{
	background: transparent;
	font: 11px verdana, tahoma, arial, helvetica, sans-serif;
	color:#000;
	padding: 4px;
}

.rscaption {
	background-image: url(images/nforumcaption2.png);
	padding: 8px 0px 8px 4px;
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
	color: #000;
}
