a.rs {
	color: #06c;
	text-decoration: none;
}

a.rs:hover {
	color: #147;
	text-decoration: none;
}

.rsbutton{
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	text-align:center;
}

.rsbox{
	background-color: #F4F7FA;
	border: #5e5d63 1px solid;
	color: #000000;
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
}

.rsborder {
	border: #ededed 1px solid;
	background-color: #fff;
	
}

.rsheader, .rsheader1 {
	background-color: #EBEFF2;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 11px;
	color:#000;
	padding: 4px;
	border: 1px solid #ededed;
}

.rsheader2{
	background-color: #fff;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 10px;
	color:#000;
	padding: 4px;
	border: #ededed 1px solid;
}

.rsheader3{
	background-color: #fff;
	font: 9px verdana, tahoma, arial, helvetica, sans-serif;
	color:#000;
	padding: 4px;
	border: #ededed 1px solid;

}

.rscaption {
	height:35px;
	border: #ededed 1px solid;
	padding: 2px 0 2px 8px;
	background-color: #68ADE5;
	font: 12px verdana, tahoma, arial, helvetica, sans-serif;
	color:#fff;
	font-weight:bold;
	background-image: url("images/tileage.jpg");

}
.rscaption a{
	padding-right:4px;
	color:#fff;

}
