/*
*************************************
*        PPGallery					*
*									*
*        (C)Oyabunstyle.de			*
*        http://oyabunstyle.de		*
*        info@oyabunstyle.de		*
*************************************
*/
.ch {
	background:#5D5D5D;
}
.center {
	text-align:center;
}
.ppgallery_header
{
	font-size:larger;
	font-weight:bold;
}
.ppgallery_preview
{
	display:block;
	margin:5px auto;
	background-position:center center;
	background-repeat:no-repeat;
	background-color:rgba(0,0,0,0.2);
	border-radius:5px;
	box-shadow:0px 0px 10px #000;
}
.ppgallery_alert {
	display:block;
	width:32px;
	height:32px;
	float:left;
	margin:-32px 0 0 0;
	opacity:0.4;
}
.ppgallery_alert:hover {
	opacity:1;
}
.ppgallery_check {
	display:block;
	width:32px;
	height:32px;
	margin:-32px 0 0 32px;
	opacity:0.4;
}
.ppgallery_check:hover {
	opacity:1;
}
.ppgallery_edit {
	display:block;
	width:32px;
	height:32px;
	margin:-32px 0 0 64px;
	opacity:0.4;
}
.ppgallery_edit:hover {
	opacity:1;
}
.ppgallery_image {
	max-width:500px;
	margin:0 auto;
	background-color:rgba(0,0,0,0.2);
	border-radius:5px;
	box-shadow:0px 0px 10px #000;
}
.ppcode {
	width:100%;
	height:auto;
	padding:5px 0px;
	background-color:rgba(0,0,0,0.2);
	border-radius:5px;
	box-shadow:0px 0px 10px #000;
	font-size:smaller;
}
.ppcode code {
	display:block;
	max-width:100%;
	margin:0px 5px;
}
.ppgallery_random
{
	display:block;
	max-width:120px;
	margin:0 auto;
	background-position:center center;
	background-repeat:no-repeat;
	box-shadow:0px 0px 10px #000;
	border-radius:5px;
}
#choose {
	width:600px;
	height:auto;
	min-height:300px;
	background:#F0EEE9;
	box-shadow:inset 0px 0px 20px rgba(0,0,0,0.5), 0px 0px 5px #000;
	border-radius:20px;
	margin:0 auto;
	padding:40px 15px 15px 15px;
	text-align:center;
	color:#333;
}
#choose_title, .choose_title {
	width:100%;
	height:32px;
	margin:10px auto 15px auto;
	background:url(32.png) no-repeat left center;
	line-height:32px;
	text-align:left;
	text-indent:40px;
	font-size:18px;
}
.pp_leftfloat {
	float:left;
	margin:0 10px 15px 0;
}
.pp_rightfloat {
	float:right;
	margin:0 0 15px 10px;
}
.ch_show {
	text-align:center;
	padding:5px;
	margin:5px auto 10px auto;
}
#ch_close {
	background:#F0EEE9;
	box-shadow:inset 0px 0px 20px rgba(0,0,0,0.5), 0px 0px 5px #000;
	position:fixed;
	top:15px;
	left:15px;
}
#ch-spacer {height:15px;width:100%;}
.ch_button {
	padding:5px;
	color:inherit;
	border-radius:5px;
	box-shadow:0 0 5px rgba(0,0,0,0.8), inset 0 0 5px rgba(0,0,0,0.5);
	text-decoration:none;
	border:none;
	cursor:pointer;
}
.button:hover {text-decoration:underline;}
.ch_textarea {
	width:98%;
	min-height:75px;
	border-radius:5px;
	border-color:#9E9D9B;
	box-shadow:inset 0 0 25px #9E9D9B;
}