#*** E_CLASSIFIEDS REWRITE BEGIN ***
RewriteEngine On
RewriteBase /e107_plugins/e_classifieds/
RewriteRule classified-([0-9]*)-([a-zA-Z0-9-]*)-([0-9]*)-([0-9]*)-([0-9]*)\.html(.*)$ classifieds.php?$1.$2.$3.$4.$5 [L]
RewriteRule classified.html classifieds.php [L]
#*** E_CLASSIFIEDS REWRITE END ***